<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idiary01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDiary01">
        <activity
            android:name=".NoteEditor"
            android:exported="false" />
        <activity
            android:name=".Reminders"
            android:exported="false" />
        <activity
            android:name=".ChangeQuestion"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".settingsPage"
            android:exported="false" />
        <activity
            android:name=".entryView"
            android:exported="false" />
        <activity
            android:name=".createSecurityQuestion"
            android:exported="false" />
        <activity
            android:name=".passRecovery"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".CreatePassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diaryView"
            android:exported="true" />
    </application>

</manifest>